@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #fff6db;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-text {
  -webkit-text-stroke: 1px rgb(30, 132, 233);
}
